.DS_Store
*.mat
*.p
*.swp
*.pdf
*.eps
*.mat
*.gif
*.so
*.pyc
env/*
build/*
dist/*
dragonfly.egg-info/*
*.so
*.sw*
log_dir_file
results_direct_file
direct-f2pywrappers.f
directmodule.c
clean_all*
*set_up*
*egg-info*
