*.swp
*.pdf
*.eps
*.png
*.jpg
*.mat
*.gif
*.out
*.lua
*.pyc
*.so
*.p
*Duplicate*
*duplicate*
*log*
*clean*
*count_lines*
*99999*
*data*
*demo_exp_decay*
*direct_results_*
*working_dir*
copy_from_boss.sh
